body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-image: url("headerimage.jpg");  
        background-size: cover;  
        background-position: center; 
        padding: 110px;  
        color: rgb(233, 183, 57); 
   }




h1 {
    
        position: absolute;  
        top: 10%;  
        left: 50%;  
        transform: translate(-50%, -50%);  
        text-align: center;  
        font-size: 2em;  
      
}

p {
    font-size: 1em;
    margin-top: 0;
}

p1
{
    position: absolute;  
    top: 20%;  
    left: 50%;  
    transform: translate(-50%, -50%);  
    text-align: center;  
    font-size: 1em;
}
p3{
  
  font-size: 1em;
  margin-top: 20px;
}

.description-section p {

  margin: 0 20%;
}
.description-section p:first-child {  
  font-size: 2em;
}
.description-section p:first-child span {  
  color: rgb(233, 183, 57); 
}

.blinking-text {
  animation: blink 1.5s infinite;
  font-size: 1.5em;
  color:rgb(233, 183, 57) ;
  text-decoration-thickness: bold ; 
}

@keyframes blink {
  from { opacity: 1; }
  to { opacity: 0; }
}
main {
   
        background-image: url("mainimage.jpeg");
        background-size: cover;  
        background-position: center;  
        padding: 20px;  
      
}

.about, .skills, .projects, .resume, .contact {
    margin-bottom: 10px;
    color:aliceblue;

}



.about img {
    width: 300px;
    height: 300px;
    display: block;
    float:  right;  
    margin: 80px 80px  ; 
    object-fit: cover;   }

.about h2{
  font-size: 3em;
  margin: 0 20%;


}
.about h2 span{
  color: rgb(233, 183, 57); 
}

.contact h2 {
    text-align: left;
    margin-bottom: 10px;
}


.download-box {
  /* Remove underline from link */
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: rgb(239, 199, 91);
  padding: 22px 22px;
  font-size: 22px;
  border-radius: 290px;
  cursor: pointer;
  width: 20%;
  bottom: 30;
 position: absolute;
  top: 477%; 
  left: 12%; 
  transform: translate(-50%, -50%); 
    text-align: center; 
    line-height: normal;  
  }
  
  .download-box a {  
    text-decoration: none;
    color: rgb(0, 0, 0);  
  }


.container{
    padding: 10px 10%;

}
nav{
    display: right;
    align-items: center;
    justify-content: space-between ;
    flex-wrap: wrap;
    position: absolute;  
    top: 5;  
    right: 0; 
    list-style: none;  
    padding: 0;  
    margin: 0; 
    cursor: pointer;
    right: 1in;
  
    
}
nav ul li{
    display:inline-block;
    list-style: none;
    margin: 0 30px;
}
nav ul li a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

  
  nav#main-nav ul li a {
  color: rgb(255, 255, 255); 
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav#main-nav ul li a::after {
  content: '';
  width: 0%; 
  height: 3px;
  background-color: rgba(233, 183, 57, 0.8); 
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: width 0.5s ease;
  z-index: 1; 
}

nav#main-nav ul li:hover a::after {
  width: 100%; 
}

#About {
  padding: 40px 0;
  color: rgb(233, 183, 57);
}

.container {
  display: flex; 
}

img {
  width: 25%; 
  border-radius: 15px;
  float: left; 
  margin-right: 20px; 
}



.sub-title {
  font-size: 2em;
  font-weight: 900;
  color: rgb(233, 183, 57);
  margin-top: 0; 
}

.about-text {
  font-size: 16px; 
  color: #f9fcfc; 
  line-height: 1.5; 
}

.skills {
 text-align: left;
  
}
.skills h2{
  margin-right: 20px;
  font-size: 2em;
  font-weight: 900;
  color: rgb(233, 183, 57);
  margin-top: 0;
  padding-left: 0.3in;

}

.skills-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around; 
  margin: 2rem auto;
  
}

.skill-item {
  width: 30%; 
  text-align: center; 
  margin-bottom: 2rem; 
  font-size: 1.4em;
  
}

.skill-item img {
  width: 90%;
  display: block; 
  border-radius: 10px;
  block-size:  155px;
  margin-bottom: 10px;
}
.skill-item p{
background: linear-gradient(to right, #ffebd6 0%, #ffc180 25%, #ff869a 50%, 
#f759ab 75%, #d83b77 100%);

-webkit-background-clip: text; 
background-clip: text;
color: transparent;  
}

.education-item{
  text-align: left;
}
.cert-item{
  margin-top: 2rem;
}

.cert-image { 
  display: flex;
  align-items: center; 
  margin-bottom: 1rem; 
}

.cert-image img {
  width: 120px;
  height: auto; 
  margin-right: 1rem; 
  display: block;
  block-size: 100px;
  padding-left: 0.6in;
  border-radius: 10px;
}

.education-item h3{
  color: rgb(233, 183, 57);
  font-size: 2em;
  padding-left: 0.3in;
}
.education-item h4{
   color: #f9fcfc;
   font-size: 1.2em;
   padding-left: 0.6in;

}
.education-item p{
  color: #f9fcfc;
  font-size: 1em;
  padding-left: 0.6in;

}
.cert-item h3{
  color: rgb(233, 183, 57);
  font-size: 2em;
  padding-left: 0.3in;

}
.cert-item h5{
  background: linear-gradient(to right, #ffebd6 0%, #ffc180 25%, #ff869a 50%, 
#f759ab 75%, #d83b77 100%);
-webkit-background-clip: text; 
background-clip: text; 
color: transparent;  
  font-size: 1em;
  padding-left: 0.3in;

}
  
#contact {
  background: #000000; 
  border-radius: 10px;
  padding: 3rem 2rem; 
  margin: 2rem auto; 
  max-width: 600px; 
  box-shadow: 0 0 10px rgb(233, 183, 57);
  align-items: center;
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
}

h2 {
  text-align: left;
  margin-bottom: 1.5rem;
  color: #ffc180;
  font-size: 3em;
  top: 2in;
}
.contact-info h2{
  text-align: center;
  top: 1in;
}

.form-group {
  display: flex; 
  justify-content: center;
  margin-bottom: 1rem;
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  margin-top: auto; 
  width: 80%;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold; 
  width: 120px;
  border-radius: 5px;
  color: rgb(233, 183, 57);
  text-align: center;
}


textarea {
  height: 100px; 
  resize: vertical; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  margin-top: auto; 
  width: 47%;/
}

.contact-info {
  text-align: center;
  margin-top: 2rem; 
}

.contact-info p {
  margin-bottom: 5px;
  color: #d83b77;
}

.contact-info a {
  text-decoration: none; 
  color: #007bff; 
}
button[type="submit"] {
  /* Style the button */
  background-color: rgb(233, 183, 57); 
  color: rgb(16, 2, 2);
  resize: vertical; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  margin-top: auto; 
  width: 100%; 
  
  
}
footer{
  background-image: url("mainimage.jpeg");

  color: rgb(255, 255, 255); 
}
